<template>
  <div class="container">
    <h1>Alcancía</h1>
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="message.color"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged"
    >
      {{ message.text }}
    </b-alert>

    <form @submit.prevent="addMoney()">
      <input
        type="text"
        placeholder="Ingrese una modena"
        class="form-control my-2"
        v-model="piggyBank.coin"
      />

      <b-button class="btn-sm btn-block btn-success" type="submit"
        >Agregar</b-button
      >
    </form>

    <div class="pt-5">
      <div>
        <b-card-group deck>
          <b-card
            border-variant="primary"
            header="Cantidad de monedas dentro de la alcancía"
            header-bg-variant="primary"
            header-text-variant="white"
            align="center"
          >
            <b-card-text><h3 class="py-3">{{ amountCoins }}</h3></b-card-text>
          </b-card>

          <b-card
            border-variant="secondary"
            header="Cantidad de monedas por denominación"
            header-border-variant="secondary"
            align="center"
          >
            <b-form-select
              v-model="selectedCoins"
              :options="options"
              @change="getAmountCoinsType(selectedCoins)"
            ></b-form-select>

            <b-card-text
              ><h3 class="pt-2">{{amountCoinsByType}}</h3></b-card-text
            >
          </b-card>

          <b-card
            border-variant="info"
            header="Cantidad de dinero dentro de la alcancía"
            align="center"
          >
            <b-card-text><h3 class="py-3">{{ amountMoney | currency }}</h3></b-card-text>
          </b-card>

          <b-card
            border-variant="success"
            header="Cantidad de dinero por denominación"
            align="center"
          >
            <b-form-select
              v-model="selectedMoney"
              :options="options"
              @change="getAmountMoneyType(selectedMoney)"
            ></b-form-select>

            <b-card-text
              ><h3 class="pt-2">{{amountMoneyByType | currency}}</h3></b-card-text
            >
          </b-card>
        </b-card-group>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      amountCoins: 0,
      amountMoney: 0,
      amountMoneyByType: 0,
      amountCoinsByType: 0,
      dismissSecs: 5,
      dismissCountDown: 0,
      message: { color: "", text: "" },
      piggyBank: { coin: "" },
      selectedMoney: 50,
      selectedCoins: 50,
        options: [
          { value: 50, text: '50' },
          { value: 100, text: '100'  },
          { value: 200, text: '200' },
          { value: 500, text: '500'  },
          { value: 1000, text: '1000' }
        ]
    };
  },
  created() {
    this.getAmountCoins();
    this.getAmountMoney();
    this.getAmountCoinsType(this.selectedCoins);
    this.getAmountMoneyType(this.selectedMoney);
  },
  methods: {
    addMoney() {
      this.axios
        .post("/save", this.piggyBank)
        .then((result) => {
          this.amountCoins += 1;
          this.amountMoney += parseInt(result.data.piggyBank.coin);

          if(this.piggyBank.coin == this.selectedCoins){
            this.amountCoinsByType += 1
          }

          if(this.piggyBank.coin == this.selectedMoney){
            this.amountMoneyByType += parseInt(result.data.piggyBank.coin)
          }

          this.piggyBank.coin = "";
          this.message.color = "success",
          this.message.text = result.data.message;
          this.showAlert();
        })
        .catch((err) => {
          (this.message.color = "warning"),
            (this.message.text = err.response.data.error);
          this.showAlert();
        });
    },
    getAmountCoins() {
      this.axios
        .get("/amountcoins")
        .then((result) => {
          this.amountCoins = result.data.amountCoins;
        })
        .catch((err) => {
          console.log(e.response);
        });
    },
    getAmountMoney() {
      this.axios
        .get("/amountmoney")
        .then((result) => {
          this.amountMoney = result.data.amountMoney;
        })
        .catch((err) => {
          console.log(e.response);
        });
    },
    getAmountCoinsType(selectedCoin){
       this.axios
        .get(`/amountcoinsbytype/${selectedCoin}`)
        .then((result) => {
          this.amountCoinsByType = result.data.amountCoinsByType;
        })
        .catch((err) => {
          console.log(e.response);
        });
    },
    getAmountMoneyType(selectedMoney){
       this.axios
        .get(`/amountmoneybytype/${selectedMoney}`)
        .then((result) => {
          this.amountMoneyByType = result.data.amountMoneyByType;
        })
        .catch((err) => {
          console.log(e.response);
        });
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
  },
};
</script>