<template>
  <div class="container">
    <b-jumbotron>
      <template v-slot:header><h4>PRUEBA TÉCNICA ANALSTA TI DESARROLLO</h4></template>

      <template v-slot:lead>
        Se requiere el código para una alcancía teniendo en cuenta las
        siguientes instrucciones:
      </template>

      <hr class="my-4">

      <p>
        > La alcancía solo puede recibir monedas de 50, 100, 200,
        500 y 1000 pesos colombianos.
      </p>
      <p>
        > En cualquier momento yo puedo saber la cantidad de
        monedas dentro de la alcancía.
      </p>
      <p>
        > En cualquier momento yo pudo saber la cantidad de dinero
        > dentro de la alcancía.
      </p>
      <p>
        > En cualquier momento yo puedo saber la cantidad de
        monedas por denominación (50, 100, 200, 500 y 100)
        dentro de la alcancía. Es decir, yo puedo preguntar cuántas
        monedas de 100 tengo y la aplicación debe darme el
        resultado.
      </p>
      <p>
        > En cualquier momento yo puedo saber la cantidad de
        dinero por denominación dentro de la alcancía. Es decir, yo
        puedo preguntar cuanto dinero tengo en monedas de 100 y
        la aplicación debe darme el resultado.
      </p>
    </b-jumbotron>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
